body {
    margin: 0;
    font-family:serif;
    color: black;
    background : white;
}

.navbar {
    background: #014cc4;
    padding: 15px 30px;
    color: rgb(253, 253, 253);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: 500;
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: 30px auto;
    background: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

h1, h2 {
    margin-bottom: 20px;
    color: #1e293b;
}

button, .btn {
    background: #2563eb;
    color: white;
    padding: 10px 18px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
}

button:hover, .btn:hover {
    background: hsl(0, 0%, 0%);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    padding: 12px;
    border-bottom: 1px solid black;
    text-align: center;
}

table th {
    background: #f5f5f5;
}

.form-group {
    margin-bottom: 15px;
}

input, select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #cccccc;
}

.chart-box {
    display: flex;
    gap: 30px;
    margin-top: 30px;
}
/* ===== Toast Message ===== */
.toast {
    position: fixed;
    top: 20px;
    right: 20px;
    background: #16a34a;
    color: white;
    padding: 12px 20px;
    border-radius: 6px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    animation: fadeOut 4s forwards;
    z-index: 999;
}

@keyframes fadeOut {
    0% {opacity: 1;}
    80% {opacity: 1;}
    100% {opacity: 0;}
}

/* ===== Table Hover ===== */
table tr:hover {
    background: lightskyblue;
    transition: 0.3s;
}

/* ===== Page Fade ===== */
.container {
    animation: fadeIn 0.5s ease-in;
}

@keyframes fadeIn {
    from {opacity: 0; transform: translateY(10px);}
    to {opacity: 1; transform: translateY(0);}
}