{% extends 'base.html' %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<div class="container">
    <h1>Welcome, {{ session['user_name'] }}</h1>
    <h2>Total Expense: ₹ {{ total }}</h2>

    <a class="btn" href="{{ url_for('add_expense') }}">+ Add Expense</a>

    <table>
        <tr>
            <th>Amount</th>
            <th>Category</th>
            <th>Note</th>
            <th>Date</th>
            <th>Actions</th>
        </tr>

        {% for e in expenses %}
        <tr>
            <td>₹ {{ e.amount }}</td>
            <td>{{ e.category }}</td>
            <td>{{ e.note }}</td>
            <td>{{ e.expense_date }}</td>
            <td>
                <a class="btn" href="{{ url_for('edit_expense', id=e.id) }}">Edit</a>
                <form action="{{ url_for('delete_expense', id=e.id) }}" method="POST" style="display:inline;">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>

    <div class="chart-box">
        <img src="{{ url_for('static', filename='charts/pie.png') }}" width="300">
        <img src="{{ url_for('static', filename='charts/hist.png') }}" width="300">
    </div>
</div>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="toast">
      {{ messages[0] }}
    </div>
  {% endif %}
{% endwith %}

{% endblock %}