{% extends 'base.html' %}
{% block content %}

<div class="card">
    <h2><i class="fa-solid fa-pen"></i> Edit Expense</h2>

    <form method="POST" style="margin-top:20px; display:grid; gap:15px;">

        <input type="number" step="0.01" name="amount"
               value="{{ expense.amount }}" required
               style="padding:10px; border-radius:8px; border:none;">

        <input type="text" name="category"
               value="{{ expense.category }}" required
               style="padding:10px; border-radius:8px; border:none;">

        <input type="text" name="note"
               value="{{ expense.note }}"
               style="padding:10px; border-radius:8px; border:none;">

        <input type="date" name="date"
               value="{{ expense.expense_date }}"
               required
               style="padding:10px; border-radius:8px; border:none;">

        <button type="submit" style="background:#ffd369; font-weight:600;">
            <i class="fa-solid fa-floppy-disk"></i> Update Expense
        </button>

    </form>
</div>

{% endblock %}